.flex-container {
    border: 1px solid black;
    display: flex;
}

.flex-item {
    margin: 5px;
    padding: 20px;
    background: #ff882e;
}

.flex-item01 {
    order: 2;
}

.flex-item02 {
    order: 3;
}