@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    margin: 0;
    padding: 0;
}

body {
    /*background: url("images/dark-wood.jpg");*/
    text-align: center;
    font: 14px 'Lato', sans-serif;
}

header {
    background: url("images/header-page.jpg") no-repeat center;
    display: block;
}

header h1 {
    text-align: right;
    line-height: 120px;
    font-size: 30px;
    width: 97%;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    background: url("images/header-page.jpg");
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}