h1 {
    background-color: #8B603D;
    background-size: cover;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: white;
}

aside {
    float: left;
}

article {
    float: right;
    margin-left: 30px;
    width: 550px;
}

footer {
    float: none;
}