@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Open+Sans:400,900";

body {
    background: darkgray;
}

main {
    width: 900px;
    border: 1px solid black;
    background: whitesmoke;
    display: inline-block;
    height: 620px;
    font-family: "Open Sans", sans-serif;
}

img {
    float: left;
    position: relative;
    top: -6px;
    left: 50px;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
}

form {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}

h1, p, form {
    text-align: right;
}

.section-right form {
    justify-content: flex-end;
}

input[type="text"] {
    background: none;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 20px;
    text-transform: uppercase;
    margin: 20px;
    font-family: "Open Sans", sans-serif;
}

.input-field {
    position: relative;
}

i {
    position: absolute;
    color: darkgray;
    top: 20px;
}

button {
    float: right;
    margin: 35px 40px 0 0;
    background: darkgray;
    border-radius: 20px;
    color: #FFFFFF;
    width: 120px;
    height: 40px;
    text-transform: uppercase;
    border-color: black;
    font-weight: bold;
}