body {
    font-family: OpenSans-ExtraBold, Helvetica, sans-serif;
    text-align: center;
    background-color: #F0F0E8;
    background-size: cover;
}

h1 {
    color: #039187;
    font-weight: bold;
    font-size: 56px;
}

article:nth-of-type(1) {
    margin-left: 22%;
}

article {
    float: left;
    width: 190px;

    margin-right: 30px;
}