@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    padding: 0;
    max-width: 1024px;
    margin: auto;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;

    /*background: url("images/dark-wood.jpg");*/
}

header {
    /*! width: 1024px; */
    margin: auto;
    background: url("images/header-page.jpg");
    background-size: cover;
    height: 130px;
    line-height: 130px;
    padding-right: 13px;
}

header h1 {
    text-align: right;
}

nav {
    width: 1024px;
    margin: auto;
    background: url("images/header-page.jpg");
    border-top: 2px solid black;
    border-bottom: 4px solid black;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background: none;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;
}

li a:hover {
    background: none;
    color: black;
}
